
.pro-category-menu .separate-nav{
	margin-left:9em;
}

.best-sell-item {
	padding: 0.5em 0 0 0.5em; 
	display: flex;
}

.best-sell-item::after{
    clear: both;
}

.best-sell-item::before, .best-sell-item::after {
    content: "";
    display: table;
    line-height: 0;
}

.best-sell-item .best-sell-menu-icon{
	float: left;
}

.best-sell-item .best-sell-menu-content {
	float: left;
	margin: 0 0 10px 10px;	
}
/* menu news */
.news-menu {
	padding-bottom: 10px;
}

.news-menu::after{
    clear: both;
}

.news-menu::before, .news-menu::after {
    content: "";
    display: table;
    line-height: 0;
}

.news-menu .news-item {
	margin-top: 10px;
	float: left;
}

.news-item .news-menu-content {
	display: flex;
}

	.news-menu-content .news-icon {

	}
	
	.news-menu-content .news-explain { 
		margin-left: 1em; 
	}

.statistical-access{
	margin-top: 3em	;
}

.statistical-access	.tb-view-access {
	text-align: center;
	width: 100%;
}
.statistical-access .number-access {
	margin:1em 0 1em 7em;
}