footer{
	background: #E1E1E1;
}

footer::after{
    clear: both;
}

footer::before, .footer::after {
    content: "";
    display: table;
    line-height: 0;
}

footer .footer-item {
	float: left;
	margin: 2em 0 5em 4em;
}

.footer-item .footer-item-content {
	margin-top: 1em;
}

.footer-item .footer-contact {
	margin: 1em 0 0 1em;
	line-height: 30px;
}

.footer-about .sub-container .footer-about-content {
	position: absolute;
	top: 2em;
}
.footer-about .sub-container .payment {
	position: absolute;
	top: 3em;
	right: 1em;
}
.chat-support {
	background: #0281de none repeat scroll 0 0;
    border-radius: 1.5em;
    bottom: 0.4em;
    height: 2.2em;
    position: fixed;
    right: 1em;
    text-align: center;
    width: 15em;
}