.l-header{
	.header-top-bar {
		padding: 7px 0px;
		background: #ddd none repeat scroll 0 0;
		.sub-container{
			.header-contact {
				float: left;
			}
			.header-link-shop-card {
				position: absolute;
				right: 0px;
				li{
					float: left;
					margin-right:1em;
				}
			}
		}
	}
	.header-logo-search {
		padding-top: 5px;
		line-height: 50px;
		.sub-container {
			.logo {
				float: left;
				width: 38%;
			}
			 .search {
				float: left;
				width: 39%;
				margin: 2em 0 0 4em;	
				.input-search {			
					height: 2.7em;
					width: 18em;
					float: left;
					padding: 0.15em 2em;
				}
				.btn-search {
					height: 3em;
					width: 5em;
					float: left;
					position: relative;
				}
			}
			.shop-card {
				position: absolute;
				right: 0px;
				top: 2em;	
				.expand-shop-card {
					position: absolute;
					right: 0px;
					top: 3.5em;		
					width: 20em;
					z-index:100;
					max-height: 0;
					overflow: hidden;
					-webkit-transition: max-height 0.8s;
					-moz-transition: max-height 0.8s;
					transition: max-height 0.8s;
					.expand-shop-card-content {
						border: 0.1px solid #e1e1e1;
					}
					.expand-shop-content {
						margin:10px;
					}
					.expand-shop-price {
						margin:10px;
					}
				}
				 &:hover { 
					.expand-shop-card {
						max-height: 10em;
					}
				}
	
			}
		}
	}
}