.l-header{
	
}

.l-header .header-top-bar {
	padding: 7px 0px;
	background: #ddd none repeat scroll 0 0;
}

	.header-top-bar .sub-container .header-contact {
		float: left;
	}

	.header-top-bar .sub-container .header-link-shop-card {
		position: absolute;
		right: 0px;
	}
	
	.header-link-shop-card  li{
		float: left;
		margin-right:1em;
	}
	
.l-header  .header-logo-search {
	padding-top: 5px;
	line-height: 50px;
}
	.header-logo-search .sub-container .logo {
		float: left;
		width: 38%;
	}
	
	.header-logo-search .sub-container .search {
		float: left;
		width: 39%;
		margin: 2em 0 0 4em;	
	}
		.search .input-search {			
			height: 2.7em;
			width: 18em;
			float: left;
			padding: 0.15em 2em;
		}
		.search .btn-search {
			height: 3em;
			width: 5em;
			float: left;
			position: relative;
		}
		
	.header-logo-search .sub-container .shop-card {
		position: absolute;
		right: 0px;
		margin-top: 2em;	
	}

