.sub-container{
	width:85em;
	max-width:85em;
	margin:0px auto;
	position:relative;
}

.sub-container::after{
    clear: both;
}

.sub-container::before, .sub-container::after {
    content: "";
    display: table;
    line-height: 0;
}

/* layout div new-product-carousel-list */
.new-product-large-list{
	margin: 1em 0;
}
.new-product-large-list::after{
    clear: both;
}

.new-product-large-list::before, .new-product-large-list::after {
    content: "";
    display: table;
    line-height: 0;
}
.new-product-large-list .carousel-item {
	margin: 30px 0 20px 45px;
	position: relative;
	float: left
}
	.carousel-item .product-rating {
		height: 20px;
	}
	
	.carousel-item .product-rating i {
		float: left;
	}
/* end */
/* layout div new-product-demo-list */
.new-product-large-list .product-demo-item {
	margin: 30px 0 70px 45px;
	position: relative;
	float: left
}
/*end*/

.container .jum-space{
	height:3em;
}

.container .sub-container .content-menu{
	float: left;
	width: 19em;
}

.container .sub-container .content-main{
	width: 64em;
	float: left;
	margin-left: 2em;
}