.sub-container {
	width: 85em;
	max-width: 85em;
	margin: 0px auto;
	position: relative;
}

.sub-container::after{
    clear: both;
}

.sub-container::before, .sub-container::after {
    content: "";
    display: table;
    line-height: 0;
}

/* layout div new-product-carousel-list */
.new-product-large-list {
	margin: 1em 0;
}
.new-product-large-list::after {
    clear: both;
}

.new-product-large-list::before, .new-product-large-list::after {
    content: "";
    display: table;
    line-height: 0;
}
.new-product-large-list .carousel-item {
	margin: 30px 0 70px 35px;
	position: relative;
	float: left
}
	.carousel-item .product-rating {
		margin-top: 1em;
	}
	

	.carousel-item  .img-new {
		position: absolute;
		top: 0;
		right: 0;
	}
		
.carousel-item .product-large-img {
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
	margin: 5px 5px 0 0; 
	position:relative;
	overflow:hidden;
}

	.product-large-img .group-icon-product {
		position: absolute;
		top: 12em;
		left: 0.25em;
		width: 100%;
	}
	.product-large-img  .group-icon-product{
		opacity:0;
		transition:opacity 0.5s ease-out;
	}
.carousel-item :hover >.group-icon-product{
	opacity:1;
}
.carousel-item :hover > img{		
	transform: scale(1.10);
	-moz-transform: scale(1.10);
	-webkit-transform: scale(1.10);
	-o-transform: scale(1.10);
	-ms-transform: scale(1.10);
}
	

.carousel-item  .price-product-large {
	padding-top: 20px;
}

/* end */

/* layout div product-small-item */
.new-product-large-list .product-small-item {
	margin: 1em 0px 1em 2em;
	float: left;
	padding: 5px 5px 0 5px;
	width: 19em;
}

.product-small-item .product-small-image {
	float: left;
}

.product-small-item .product-small-content {
	float: left;
	padding-left: 5px;
}
/* end */

.container .jum-space{
	height:3em;
}

.container .sub-container .content-menu{
	float: left;
	width: 19em;
}

.container .sub-container .content-main{
	width: 64em;
	float: left;
	margin-left: 2em;
}