.navigator-bar{
	background-color:#000;
}

.navigator-bar .sub-container .menu-main{
	list-style-type: none;
	float: left;
}

.navigator-bar .sub-container .menu-main li {
	float: left;
	height: 3em;
	margin: 0 0.25em;
}

.navigator-bar .sub-container .menu-main li a {
	float: left;
	height: 2em;
	padding: 0.9em 1em 0 1em;
}

.navigator-bar .sub-container .hot-line{
	position: absolute;
	right:0;
	top: 0.75em;
}
/*menu banner free transport ship-online and */
.sub-container .sp-banner {
	width: 26em;
	margin: 1.5em 0  0 1em ;
	float: left;
	position: relative;
}

	.sp-banner .sp-banner-content{
		margin:-3em 0 0 4em; 
	}

.menu-item .sub-menu{
	display: none;
	position: absolute;
	top: 42px;
	left: 0;
	z-index: 100;
	width: 12em;
	padding: 10px 17px 10px 10px;
}
.menu-item:hover .sub-menu {
	display: block;
}

.sub-menu .third-nav {
	position: absolute;
	left: 12.9em;
	width: 12em;
	display: none;
}

.sub-menu .expand-sub-menu-main:hover .third-nav {
	display: block;
}

.expand-sub-menu-main .third-nav:hover{
	display: block;
}