.navigator-bar{
	background-color:#000;
}

.navigator-bar .sub-container .menu-main{
	list-style-type: none;
	float: left;
}

.navigator-bar .sub-container .menu-main li {
	float: left;
	height: 3em;
	margin: 0 0.25em;
}

.navigator-bar .sub-container .menu-main li a {
	float: left;
	height: 2em;
	padding: 0.9em 1em 0 1em;
}

.navigator-bar .sub-container .hot-line{
	position: absolute;
	right:0;
	top: 0.75em;
}
/*menu banner free transport ship-online and */
.sub-container .sp-banner {
	width: 26em;
	margin: 1.5em 0  0 1em ;
	float: left;
	position: relative;
}

	.sp-banner .sp-banner-content{
		margin-left: 4em; 
	}
