.best-sell-menu ul {
  text-align: left;
}

.best-sell-menu ul li:not(:first-child){
  height: 7.5em;
  line-height: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.best-sell-menu ul li:first-child {
  background: #c30374;
  height: 40px;
  line-height: 40px;
  padding-left: 1em;
  text-transform: uppercase;
}

.best-sell-menu ul li  a {
  text-decoration: none;
}

.best-sell-menu ul  li:first-child  a {
  color: white;
}

.explain-text {
  font-size: 14px;
  
}