.news-menu ul {
  text-align: left;
}

.news-menu ul li:not(:first-child){
  height: 7em;
  line-height: 20px;
}

.news-menu ul li:first-child , .menu-statistical{
  background: #c30374;
  height: 40px;
  line-height: 40px;
  padding-left: 1em;
  text-transform: uppercase;
  color: white;
}

.news-menu ul li  a {
  text-decoration: none;
}

.news-menu ul  li:first-child  a {
  color: white;
}

.news-menu-title {
  color: #c30374;
  font-size: 14px;
  padding: 5px 0;
}
.news-menu-title:hover {
  color: #c33;
}