.news-menu ul {
  text-align: left;
}

.news-menu ul li:not(:first-child){
  height: 12em;
  line-height: 20px;
  margin:1em 0 0 1em;
}

.news-menu ul li:first-child {
  background: #c30374;
  height: 40px;
  line-height: 40px;
  padding-left: 1em;
  text-transform: uppercase;
}

.news-menu ul li  a {
  text-decoration: none;
}

.news-menu ul  li:first-child  a {
  color: white;
}
