.product-title {
	display: block;
    font-family: CalibriBold;
    line-height: 20px !important;
    text-transform: uppercase;
    word-wrap: break-word;
	color: #666;
}

.group-icon-product {
	visibility: hidden;
}
/* product-large*/
.product-large { 
	text-align: center;
}

.product-name {
	color: #111;
	font-size: 16px;
	font-weight: medium;
	font-family: CalibriBold;
	padding: 10px 0;
	text-decoration: none;
}

.price-new {
	font-size: 20px;
    font-weight: normal !important;
    color: #CA0000 !important;
    padding:5px;
}

.price-old {
	text-decoration: line-through;
	font-size: 14px;
	color: #888;
	padding:5px;
} 

/* product-small*/

.product-small {
	background: #E1E1E1;
}


