.product-title {
	display: block;
    font-family: CalibriBold;
    line-height: 20px !important;
    text-transform: uppercase;
    word-wrap: break-word;
	color: #666;
}

.group-icon-product {
	visibility: hidden;
}

.product-large { 
	text-align: center;
}

.product-name {
	color: #444;
	font-size: 16px;
	font-family: CalibriBold;
	padding: 10px 0;
	text-decoration: none;
}

.product-large-img {
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
}

.price-product-large {
	padding-top: 20px;
}


.price-new {
	font-size: 20px;
    font-weight: normal !important;
    color: #CA0000 !important;
}

.price-old {
	text-decoration: line-through;
	font-size: 14px;
	color: #888;
} 
